<% include ../../partials/header.ejs %>
<div clas="row">

	<% include ../../partials/navigation.ejs %>

	<div class="col-sm-9 col-md-10 content">
		<h1 class="contentHeader">Incidents</h1>

		<form class="form-horizontal contentHeader" method="get" >
			<fieldset>

				<!-- Select Basic -->
				<div class="form-group">
					<div class="col-md-12">
						<select id="itype" name="type" class="form-control">
							<option value="RTC">Road Traffic Accident</option>
							<option value="Drugs">Drugs</option>
							<option value="Theft">Theft</option>
							<option value="Shoplifting">Shoplifting</option>
							<option value="ASB">Anti Social Behaviour</option>
							<option value="Burglary">Burglary</option>
							<option value="VC">Vehicle Crime</option>
							<option value="Robbery">Robbery</option>
							<option value="CD">Criminal Damage</option>
							<option value="PW">Possesion of Weapons</option>
							<option value="GR">General Response</option>
						</select>
					</div>
				</div>

				<!-- Button (Double) -->
				<div class="form-group">
					<div class="col-md-12">
						<button class="btn btn-success">Save</button>
						<a href="/incidents" class="btn btn-danger">Reset</a>
					</div>
				</div>

			</fieldset>
		</form>

		<table class="table table-striped">
			<thead>
			<tr>
				<th>Type</th>
				<th>Status</th>
				<th>Location</th>
				<th>Date</th>
				<th>Priority</th>
				<th></th>
			</tr>
			<% for(var i=0; i < incidents.length; i++) { %>
			<% var iDate = new Date(incidents[i].dateAdded) %>
			<tr>
				<td><%= incidents[i].type %></td>
				<td><%= incidents[i].status %></td>
				<td><%= incidents[i].location %></td>
				<td><%= iDate.toUTCString() %></td>
				<td><%= incidents[i].priority %></td>
				<td><a href="/incident/edit?id=<%- incidents[i]._id %>">Edit</a> | <a href="/incidents/delete?id=<%- incidents[i]._id %>">Delete</a> <% if(incidents[i].status === "Open"){ %> | <a href="/incident/close?id=<%- incidents[i]._id %>">Close</a> <% } %></td>
			</tr>
			<%}%>
			</thead>
		</table>
	</div>
</div>

<% include ../../partials/footer.ejs %>